.button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white-100);
  background-color: var(--orange-100);
  border-radius: 8px;

  &:hover {
    background-color: var(--orange-80);
  }

  &:active {
    background-color: var(--orange-120);
  }
}

@media (min-width: 992px) {
  .button {
    width: 296px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 20px;
  }
}