.l-game-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black-5);
}

@media (min-width: 992px) {
  .l-game-page {
    flex-direction: row;
    justify-content: flex-start;
  }
}