.l-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.l-hexagon {
  position: relative;
}

.hexagon,
.hexagon__left,
.hexagon__right {
  --height: 56px;
  --width: 246px;

  --line-width: 24px;
  --border-radius: 11px;
  --border-width: 3px;

  --side-shift: 21px;
  --triangle-side-width: 21px;
  --adjust-position-shift: 4px;
  --stroke-width: 17px;
}

.hexagon-mobile,
.hexagon-mobile__left,
.hexagon-mobile__right {
  --height: 32px;
  --side-shift: 12px;
  --triangle-side-width: 13px;
  --adjust-position-shift: 2px;
  --stroke-width: 41px;
}

.hexagon-desktop,
.hexagon-desktop__left,
.hexagon-desktop__right {
  --height: 40px;
  --side-shift: 14px;
  --triangle-side-width: 18px;
  --adjust-position-shift: 2px;
  --stroke-width: 38px;
}

.hexagon-mobile,
.hexagon-mobile__left,
.hexagon-mobile__right,
.hexagon-desktop,
.hexagon-desktop__left,
.hexagon-desktop__right {
  --width: 216px;
  --border-radius: 8px;
  --border-width: 1px;
  --line-width: 14px;
  --border-width: 1px;
}

.hexagon,
.hexagon-mobile,
.hexagon-desktop {
  height: var(--height);
  width: var(--width);
  background-color: var(--white-100);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--black-40);
}

.hexagon__left,
.hexagon__right,
.hexagon-mobile__left,
.hexagon-mobile__right,
.hexagon-desktop__left,
.hexagon-desktop__right {
  width: 0;
  position: absolute;
  top: calc(var(--height) / 2 - var(--line-width));
  border-top: var(--line-width) solid transparent;
  border-bottom: var(--line-width) solid transparent;
}

.hexagon__left,
.hexagon-mobile__left,
.hexagon-desktop__left {
  left: calc(var(--side-shift) * -1);
  border-right: var(--line-width) solid var(--black-40);

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: var(--stroke-width);
    height: var(--border-width);
    background-color: var(--black-40);
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: var(--triangle-side-width) solid transparent;
    border-bottom: var(--triangle-side-width) solid transparent;
    border-right: var(--triangle-side-width) solid var(--white-100);
    position: absolute;
    top: calc(var(--triangle-side-width) * -1);
    left: var(--adjust-position-shift);
  }
}

.hexagon__right,
.hexagon-mobile__right,
.hexagon-desktop__right {
  right: calc(var(--side-shift) * -1);;
  border-left: var(--line-width) solid var(--black-40);

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-top: var(--triangle-side-width) solid transparent;
    border-bottom: var(--triangle-side-width) solid transparent;
    border-left: var(--triangle-side-width) solid var(--white-100);
    position: absolute;
    top: calc(var(--triangle-side-width) * -1);
    right: var(--adjust-position-shift);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: var(--stroke-width);
    height: var(--border-width);
    background-color: var(--black-40);
  }
}

@media (min-width: 992px) {
  .hexagon {
    width: 319px;
  }
}