.l-game {
  display: grid;
  height: 100vh;
  padding-bottom: 24px;
}

.question {
  max-width: 624px;
  display: flex;
  padding: 0 16px;
  font-size: 18px;
  text-align: center;
  align-self: flex-end;
}

.l-answers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: flex-end;
}

.l-answer {
  display: flex;
  gap: 8px;
  padding-left: 16px;
  position: absolute;
}

.answer__option {
  font-weight: 600;
  font-size: 14px;
  color: var(--orange-300);
}

.answer__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-500);
}

@media (min-width: 992px) {
  .l-game {
    padding-bottom: 122px;
    padding-left: 80px;
  }

  .question {
    font-size: 32px;
    align-self: center;
  }

  .l-answers-container {
    width: 842px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 90px;
  }
}